backports.functools-lru-cache==1.5
certifi==2018.4.16
cffi==1.10.0
chardet==3.0.4
conllu==0.8
cycler==0.10.0
futures==3.0.5
goslate==1.5.1
idna==2.6
kiwisolver==1.0.1
matplotlib==2.2.0
mkl-fft==1.0.4
mkl-random==1.0.1
nltk==3.3
numpy==1.15.0
pandas==0.23.3
psutil==5.6.6
pycparser==2.18
pyparsing==2.2.0
python-dateutil==2.7.3
python-gnupg==0.3.8
pytz==2018.5
requests==2.18.4
six==1.11.0
sklearn==0.0
stanfordcorenlp==3.8.0.1
subprocess32==3.2.7
torch==0.3.0.post4
urllib3==1.22
